@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #e5e7ef;
}

/* ------------Navigation bar ------------ */
.nav__option {
    gap: 4rem !important;
    font-size: 1.1rem !important;
}

.nav__option li:hover {
    color: #bcc2db;
    cursor: pointer;
}

.active__nav {
    border-bottom: solid 2px #b16953;
}

.active__nav:hover {
    color: inherit !important;
}

.personal__options li  {    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: solid 1px #e5e7ef;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.personal__options li:hover {
    background: #e5e7ef;
    color: #5e5a5b;
}

.personal__options li svg {
    font-size: 1.3rem;
}



.slider:first-child {
    margin-left: 0 !important;
}

@media(max-width: 768px) {
    .slick-current .product {
        box-shadow: 3px 3px 12px 3px #bbbb;
        max-width: 85% !important;
        height: 320px;
        margin-bottom: 35px;
    }
}

.slick-current .product #product_img {
    transform: scale(1.1) !important;
    height: 210px;
}
